<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="assets/big-card.jpg"
      cardTitle="COMO TER FÉ NOS DIAS ATUAIS?"
      cardDescription="É possível ter fé nos dias atuais e em meio a tanta tecnologia?"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Fé e Tecnologia: Uma Conexão Possível? 📱🙏"
      photoCover="assets/post2.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="A Fé como Âncora em um Mundo em Constante Mudança ⚓"
      photoCover="assets/ancora.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Filme A Forja - O poder da transformação."
      photoCover="assets/forja.jpg"
    >
    </app-small-card>
  </div>
</div>
